header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

#formulario {
    background-color: rgb(24, 20, 25);
    width: 300px;;
    margin: 200px auto; /* Agregamos margen superior e inferior */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.encabezado{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 90px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b55252;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: rgb(159, 54, 71);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b31b00;
}

.terminos{
    color: white;
}